body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 1px 0px 10px black;
    font-size: 1.2em;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 10px;
    animation: fadeInLeft 1s ease-out;
}
li a{

}
.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

    .nav-links a::after {
        content: '';
        display: block;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        transition: width 0.3s ease;
    }

    .nav-links a:hover {
        color: #ffd900;
    }

        .nav-links a:hover::after {
            width: 100%;
        }

/* Carousel */
.carousel {
    max-width: 100%;
}

.carousel-inner {
    max-width: 1400px;
    height: auto;
    margin: 20px auto;
}

.carousel-item img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.carousel-caption {
    /*position: absolute;*/
/*    bottom: 20%;*/
/*    right:50%;*/
    /*transform: translateX(-50%);*/
    background-color: rgba(0, 0, 0, 0.6);
    /*color: #fff;
    padding: 15px 25px;*/
    border-radius: 8px; 
    /*text-align: center;
    z-index: 10;*/
}

/* Submenu dropdown */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: 0;
        margin-right: 0;
        display: none;
        position: absolute;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }


/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

        .nav-links a {
            display: block;
            margin: 10px 0;
        }

    .carousel-caption {
        font-size: 0.9rem;
        padding: 10px 15px;
        bottom: 10%;
    }

        .carousel-caption h5 {
            font-size: 1.2rem;
        }

        .carousel-caption p {
            font-size: 0.9rem;
        }
}
.card-img{
    height:12rem;
    width:auto;
}
/* Animations */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


